<#@ template language="C#" inherits="Generator.GeneratorBase" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="Legion.Extensions" #>
<#@ import namespace="Legion.Generators.AppGen.Model" #>
<#@ import namespace="Legion.Generators.AppGen.Descriptors" #>
<#@ import namespace="Legion.Generators.AppGen.Descriptors.MetaDescriptors" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<#
	SetGenerationEnvironment(this.GenerationEnvironment);

	QueryContextDescriptor dbContextDesc = GetParam<QueryContextDescriptor>("QueryContextDescriptor");
	string modelName = GetParam<string>("modelName");
	string contextName = GetParam<string>("contextName");

	StartNewFile(dbContextDesc.TargetFolder(modelName, contextName), dbContextDesc.FileName);

	foreach (string import in dbContextDesc.Imports)
	{
#>
using <#= import #>;
<#
	}
	if (0 < dbContextDesc.Imports.Count)
	{
#>

<#
	}
#>
#nullable disable

namespace <#= dbContextDesc.Namespace(modelName, contextName) #>;

public partial class <#= dbContextDesc.Name #> : Legion.EntityFrameworkCore.DbContextBase, <#= dbContextDesc.AbstractionBaseNamespace #>.<#= dbContextDesc.AbstractionName #>
{
<#
	foreach (var queryEntity in dbContextDesc.Data.QueryEntities.OrderBy(x => x.Name))
	{
		var queryEntityDesc = dbContextDesc.Context.GetQueryModelDescriptor(queryEntity, modelName, contextName);
		if (queryEntityDesc == null || !queryEntity.GenerateQueryModel) continue;
#>
	public virtual DbSet<<#= queryEntityDesc.FullName(modelName, contextName) #>> <#= queryEntity.DbSetName #> { get; set; }
<#
	}
#>

	public <#= dbContextDesc.Name #>(DbContextOptions<<#= dbContextDesc.Name #>> options, Microsoft.Extensions.Logging.ILogger<<#= dbContextDesc.Name #>> logger)
		: base(options, logger)
	{
	}

	public <#= dbContextDesc.Name #>(Microsoft.Extensions.Logging.ILogger<<#= dbContextDesc.Name #>> logger)
		: base(logger)
	{
	}

	protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
	{
		optionsBuilder.UseQueryTrackingBehavior(QueryTrackingBehavior.NoTracking);
		
		if (!optionsBuilder.IsConfigured)
		{
			if (ConnectionProvider == null)
				Legion.Throw.InitializationException(ConnectionProvider);

			ConnectionProvider.OnConfiguring(optionsBuilder);
		}
		else
		{
			SetIsDbContextOptionsBuilderPreconfigured();
		}
	}

	protected override void OnModelCreating(ModelBuilder modelBuilder)
	{
		RegisterUnaccentFunction(modelBuilder);

<#
	foreach (var queryEntity in dbContextDesc.Data.QueryEntities.OrderBy(x => x.Name))
	{
		if (!queryEntity.GenerateQueryModel)
			continue;

		var queryEntityDesc = dbContextDesc.Context.GetQueryModelDescriptor(queryEntity, modelName, contextName);
		if (queryEntityDesc == null) continue;
#>
		<#= queryEntityDesc.QueryContextModelBuilderBaseName #>.Build(modelBuilder);
<#
	}
#>
	}
}
<#
	StartNewFile(dbContextDesc.AbstractionTargetFolder, dbContextDesc.AbstractionFileName);

	foreach (string import in dbContextDesc.AbstractionImports)
	{
#>
using <#= import #>;
<#
	}
	if (0 < dbContextDesc.AbstractionImports.Count)
	{
#>

<#
	}
#>
namespace <#= dbContextDesc.AbstractionNamespace #>;

public interface <#= dbContextDesc.AbstractionName #> : Legion.EntityFrameworkCore.IDbContext, IDisposable, IAsyncDisposable
{
<#
	foreach (var queryEntity in dbContextDesc.Data.QueryEntities.OrderBy(x => x.Name))
	{
		var queryEntityDesc = dbContextDesc.Context.GetQueryModelDescriptor(queryEntity, modelName, contextName);
		if (queryEntityDesc == null || !queryEntity.GenerateQueryModel) continue;
#>
	DbSet<<#= queryEntityDesc.FullName(modelName, contextName) #>> <#= queryEntity.DbSetName #> { get; set; }
<#
	}
#>
}
<#
	Process();
#>
<#+
string MultiLineFluentApi(params string[] lines)
{
	StringBuilder sb = new StringBuilder();
	if (lines != null && 0 < lines.Length)
	{
		if (lines.Length == 1)
		{
			sb.Append(lines[0].Trim());
		}
		else
		{
			foreach (var line in lines)
			{
				sb.AppendLine();
				sb.Append(line);
			}
		}
	}
	sb.Append(";");
	return sb.ToString();
}
#>